@use "./base/fonts";
@use "./base/variable" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.theme {
  background-color: #252525;
}
.bg-light-theme {
  background-image: url("../assets/images/bg-desktop-light.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 239px;
}

.bg-dark-theme {
  background-image: url("../assets/images/bg-desktop-dark.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 239px;
}
.theme-content {
  width: 38%;
  margin: 53px auto;
  h1 {
    font-weight: 700;
    color: white;
    font-size: 2.6rem;
    letter-spacing: 19px;
  }
  img {
    width: 100%;
    max-width: 35px;
    height: auto;
    display: block;
    cursor: pointer;
    filter: invert(104%) sepia(29%) brightness(99%);
  }
}
