@mixin customCheckbox {
  display: none;
}

@mixin checkboxCustom {
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  top: 4px;
}

@mixin checkedCheckboxCustom {
  background-color: #006f3e;
  border-color: #006f3e;
}

@mixin checkedCheckboxCustomAfter {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
